*{
    margin: 0%;
}
body{
    background-color: rgb(237, 234, 230);
}
input{
    order: 1;
    width: 60%;
    display: block;
    margin: 30px auto;
    text-align: center;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom:1px solid rgb(160, 158, 158) ;
}
button{
    margin: 0 auto;
    display: block;
}
.form-control{
    position: relative;
}
i{
    visibility: hidden;
    position: absolute;
    top: 10px;
    right: 20%;
}
.input-container{
    display: flex;

}
.main{
    position: relative;
    width: 400px;
    max-width: 100%;
    margin: 100px auto 30px;
    background-color: rgb(244, 242, 239);
    box-shadow: 2px 2px  30px black;
} 
.main h1{
    text-align: center;
}
.icon{
    position: relative;
    top: 10px;
}
.form-control.success input{
    border-bottom: 1px solid   rgb(52, 228, 52);
}
.form-control.error input{
    border-bottom: 1px solid  rgb(232, 32, 32)
}
.form-control.success i.fa-circle-check{
    color: rgb(52, 228, 52);
    visibility: visible;
}
.form-control.error i.fa-exclamation{
    color: rgb(232, 32, 32);
    visibility: visible;
}
.form-control small{
    color: rgb(232, 32, 32);
    position: absolute;
    bottom:  -15px;
    left: 20%;
}
